<html>
<head>
    <title>ระบบยื่นคำร้องขอลงทะเบียนล่าช้า</title>
</head>
<body>
    
    

    <center><p><h3>ข้อมูลรายชื่อนักศึกษาที่ยื่นคำร้องการจดทะเบียนล่าช้า</h4></p></center>

    
     <tr><table border="1" bgcolor="white" width="75%" align="center">
            <tr bgcolor="black">
                <td><pre><h3 style="color: white;" align="center">no.</h3></pre></td>
		<td><pre><h3 style="color: white;" align="center">รูป</h3></pre></td>
                <td><pre><h3 style="color: white;" align="center">ชื่อ - นามสกุล</h3></pre></td>
                <td><pre><h3 style="color: white;" align="center">เลขประจำตัวนักศึกษา</h3></pre></td>
                <td><pre><h3 style="color: white;" align="center">ผลการพิจารณา</h3></pre></td>
            </tr>
            <tr>
                <td><pre><h4 align="center">1</h4></pre></td>
		<td><img src="pic/pug.jpg"height="130" weight="130"></h3></pre></td>
                <td><pre><h3 align="center">นาย xxxxxx xxxxxx</h3></pre></td>
                <td><pre><h3 align="center">62xxxxxxxx</h3></pre></td>
                <td><pre><input type ="checkbox" name="pass" value="1">อนุมัติ<br><input type ="checkbox" name="fail" value="2">ไม่อนุบัติ</pre></td>
            </tr>
            <tr>
                <td><pre><h4 align="center">2</h4></pre></td>
		<td><img src="pic/sq.jpg"height="130" weight="80"></h3></pre></td>
                <td><pre><h3 align="center">นาย xxxxxx xxxxxx</h3></pre></td>
                <td><pre><h3 align="center">62xxxxxxxx</h3></pre></td>
                <td><pre><input type ="checkbox" name="pass" value="1">อนุมัติ<br><input type ="checkbox" name="fail" value="2">ไม่อนุบัติ</pre></td>
            </tr>
            <tr>
                <td><pre><h4 align="center">3</h4></pre></td>
		<td><img src="pic/ch.jpg"height="130" weight="130"></h3></pre></td>
                <td><pre><h3 align="center">นางสาว xxxxxx xxxxxx</h3></pre></td>
                <td><pre><h3 align="center">62xxxxxxxx</h3></pre></td>
                <td><pre><input type ="checkbox" name="pass" value="1">อนุมัติ<br><input type ="checkbox" name="fail" value="2">ไม่อนุบัติ</pre></td>
            </tr>
            <tr>
                <td><pre><h4 align="center">..</h4></pre></td>
		<td><pre><h4 align="center">..</h4></pre></td>
                <td><pre><h3 align="center">..</h3></pre></td>
                <td><pre><h3 align="center">..</h3></pre></td>
                <td><pre><h3 align="center">..</h3></pre></td>
            </tr>
           </table></tr>
<p  align="center"><button>submit</button></p>
<h4><a href="login.html">Home</a></h4></p>

  </body>
</html>
